@font-face {
	font-family	:PrimaSans;
	src			:url(../../fonts/Prima_Sans_Bold.ttf);
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0.1);
	font: 12pt "Tahoma";
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;   
	font-family: "arial" , sans-serif;
}
.page {
	width: 210mm;
	min-height: 296mm;
	max-height: 296mm;
	padding: 5mm;	
	margin: 10mm auto;
	border: 1px rgba(0,0,0,0.1) solid;
	border-radius: 1px;
	background: white;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.landscape {
	width: 296mm;
	min-height: 210mm;
	max-height: 210mm;
	padding: 5mm;	
	margin: 10mm auto;
	border: 1px rgba(0,0,0,0.1) solid;
	border-radius: 1px;
	background: white;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.subpage {
	padding: 0cm;
	border: 1px rgba(0,0,0,0.1) solid;
	height: 285mm;
	outline: 2cm rgba(0,0,0,0) solid;
}

.landscape-subpage {
	padding: 0cm;
	border: 1px rgba(0,0,0,0.1) solid;
	height: 199mm;
	outline: 2cm rgba(0,0,0,0) solid;
}

@page {
	size: A4;
	margin: 0;
	padding: 0;
}
.print-footer
{
	position	:absolute; 
	bottom		:0; 
	width		:100%;
	text-align	:center; 
	line-height	:1.5em;
	font-size	:0.7em;
	color		:rgba(0,0,0,0.5);
}
.landscape-footer
{
	position	:absolute; 
	bottom		:0; 
	width		:100%;
	text-align	:center; 
	line-height	:1.5em;
	font-size	:0.7em;
	color		:rgba(0,0,0,0.5);
}
.center {
    margin: auto;
}

.logo_img{
	width: 130px;
}

.logo_img_chiyoda{
	width: 520px;	
}

.print_header > hr{
	margin-top		: 0.5em;
	margin-bottom	: 0.5em;
}
.print_header_chiyoda{
	margin-top		: 1.2em;
}
.print_header_info_chiyoda
{
	font-size		: 0.75em;
	padding-top		: 0.2em;
}
.print_header_info_chiyoda > p {
   margin		: 0;
   line-height	: 1.3em;
}
.doc_header_pending > .pending-approval{
	position	:absolute; 
	left		:10px; 
	font-size	:35px;
}

.doc_header_void > .void{	
	text-align	: center;
	position	: absolute; 
	top			: 250px; 
	right		: 50%; 
	font-size	: 80px;
	width		: 100%;
	border-top	: 0.1em solid red;
	border-bottom: 0.1em solid red;
	-ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg);
    color		:red !important;
    z-index:	5;
}

.doc_header > h2 {
	font-size	: 26px;
	margin		: 0;
	line-height	: 25px;
	display		: block;
}

.doc_header > h3 {
	font-size	: 22.5px;
	margin		: 0;
	line-height	: 25px;
	display		: block;
}

.doc_header > p {
	font-size	: 0.95em;
	margin		: 0;
	line-height	: 20px;
}


.void{
	font-weight		:bold;
	font-size		: 250%;
	color			: rgba(255,0,0,1);	
	/*
		transform:rotate(340deg);
		-webkit-transform:rotate(340deg);   
	*/
}
.table > tbody > tr > td{
	/*
	font-family: 'Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New', monospace;
	*/
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
}

.table > tbody > tr > td.no_border_top_bottom{
	border-top: none; 
	border-bottom: none;	
	padding-bottom: 0.05em;
}
.table > tbody > tr > td.border_top_line{
	border-top: 1px solid grey;
	border-bottom: none;
}

.pending-approval{
	font-weight		:bold;
	font-size		: 100%;
	color			: rgba(255,0,0,1);	
	/*
		transform:rotate(340deg);
		-webkit-transform:rotate(340deg);   
	*/
}
.report_status_label{
	color:red !important;
	font-size:0.8em;
	margin-top:1em;
}

.v_top
{
	vertical-align: text-top;
}
.header_border_outer{
	border-top:0.3em solid;
	padding:0em;
	margin:0em;
}
.header_border_inner{
	padding-top:0.2em;
	margin-top:0.2em;
	border-top:0.1em solid;
}


.invoice-header > h2 > div > span > b
{
	color		:blue !important;
}



@media print {

	.table > tbody > tr > td.no_border_top_bottom{
		border-top: none !important;
		border-bottom: none !important;
	}
	.table > tbody > tr > td.border_top_line{
		border-top: 1px solid grey;
		border-bottom: none !important;
	}
	
	.table{
		border-bottom: 1px solid grey !important;
	}
	
	.table.borderless {
		border: none !important;
	}
	
	html, body {
		width: 210mm;
		height: 296mm;        
	}
	.page {
		margin: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
	
	.landscape {
		margin: 0;
		border: initial;
		border-radius: initial;
		width: 296mm;
		min-height: 199mm;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
	
	.table-bordered > tbody > tr > td, .table-bordered > thead > tr > td, .table-bordered > tfoot > tr > td {
	  border: 1px solid grey !important;
	}
	
	.table.item_table > thead > tr {
		background-color:black;
	}
	
}

.table.item_table > thead > tr {
	background-color:black;
}

/****************************** start infonal***************************************************/

.doc_title_infonal{
	padding-top:0em;
	margin-top:0em;
	position:absolute;
	right:3.2em;
	top:-2.2em;
	background-color:white !important;
	padding-left:1em;
	padding-right:1em;
}

.doc_header_pending_infonal > .pending-approval{
	position:absolute;
	right:5px;
	top:0em;
	font-size:25px;
}

.doc_header_void_infonal > .void{	
	text-align	: center;
	position	: absolute; 
	top			: 250px; 
	right		: 50%; 
	font-size	: 80px;
	width		: 100%;
	border-top	: 0.1em solid red;
	border-bottom: 0.1em solid red;
	-ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg);
    color		:red !important;
    z-index:	5;
}

.infonal_print_header {
	width:97%;
	margin-top:-15px;
}

.infonal_color_scheme_invoice, 
.infonal_color_scheme_invoice > .header_border_inner ,
.infonal_color_scheme_invoice > .doc_title_infonal > h2 > i
{
	border-color:rgb(0,150,120);	
	color		:rgb(0,150,120) !important;
}


.infonal_color_scheme_pr, 
.infonal_color_scheme_pr > .header_border_inner,
.infonal_color_scheme_pr > .doc_title_infonal > h2 > i
{
	border-color:orange;	
	color		:orange !important;
}

.infonal_color_scheme_bill, 
.infonal_color_scheme_bill > .header_border_inner,
.infonal_color_scheme_bill > .doc_title_infonal > h2 > i
{
	border-color:orange;	
	color		:orange !important;
}

.infonal_color_scheme_po, 
.infonal_color_scheme_po > .header_border_inner,
.infonal_color_scheme_po > .doc_title_infonal > h2 > i
{
	border-color:orange;	
	color		:orange !important;
}

.infonal_color_scheme_do, 
.infonal_color_scheme_do > .header_border_inner,
.infonal_color_scheme_do > .doc_title_infonal > h2 > i
{
	border-color:blue;	
	color		:blue !important;
}

.infonal_color_scheme_cn, 
.infonal_color_scheme_cn > .header_border_inner,
.infonal_color_scheme_cn > .doc_title_infonal > h2 > i
{
	border-color:blue;	
	color		:blue !important;
}

.infonal_color_scheme_dn, 
.infonal_color_scheme_dn > .header_border_inner,
.infonal_color_scheme_dn > .doc_title_infonal > h2 > i
{
	border-color:blue;	
	color		:blue !important;
}

.infonal_cust_data_title{
	 
	font-family:'Times New Roman',Times,serif;
	font-size:1em;

}

.infonal_cust_data_value{
	font-family:"Lucida Console", Monaco, monospace;
	font-size:0.9em;
	min-width: 5em;
}

.header_comp_name_infonal{
	font-size	:1.45em;	
	font-weight	:bold;
}
.header_comp_code_infonal{
	font-size	:0.6em;		
}
.header_comp_slogan_infonal{
	font-size	:0.8em;	
	font-weight	:bold;
	font-style: italic;
	
}

.header_comp_logo_infonal > .logo_img {
    width: 150px;
    right: 0.3em;
    top: 0.3em;
    position: absolute;
    z-index: 100;
}
.doc_header_infonal{
	padding-top:1.2em;
	text-align:left;
	padding-bottom:0.5em;
}

.doc_header_infonal > div >  span{
	
	color : #1e3dc3 !important;
}

.doc_header_ninetech > div >  span{	
	color : black !important;
}


.doc_header_agile > div >  span{
	color : black !important;
}
/****************************** end infonal***************************************************/


/****************************** start Trade catalyst***************************************************/

.color_scheme_invoice_tradec,
.color_scheme_invoice_tradec > .header_border_inner ,
.color_scheme_invoice_tradec > .doc_title_tradec
{
	font-family		:PrimaSans;
	padding-top		:0.5em;
	margin-top		:1em;
	margin-bottom	:0em;
	font-size		:1.25em;
	font-weight		:bold;	
	color			:grey;	
}

.color_scheme_invoice_tradec{
	border-top		:1px solid rgb(220,220,220);
	padding-bottom: 0.2em;
}
.cust_data_title_tradec{	 
	font-family:'Times New Roman',Times,serif;
	font-size:1em;
}

.cust_data_value_tradec{
	font-family:"Lucida Console", Monaco, monospace;
	font-size:0.9em;
	min-width: 5em;
}

.header_comp_name_tradec
{
	font-family	:PrimaSans;
	font-size	:1.7em;	
	font-weight	:bold;
}
.header_comp_code_tradec{
	font-family	:PrimaSans;
	font-size	:0.7em;	
	font-weight	:bold;	
}
.header_comp_slogan_tradec{
	font-size	:0.8em;	
	font-weight	:bold;
	font-style	:italic;
	display		:none;
	
}
.header_comp_logo_tradec > .logo_img{
	width	:100px;
	right	:0.5em;
	top		:0em;
	position:absolute;
	z-index	:100;
	display	:none;
}
.doc_header_tradec{
	padding-top		:1.2em;
	text-align		:left;
	padding-bottom	:0.6em;
	font-family		:PrimaSans;
}

.doc_header_void_tradec > .void{	
	text-align	: center;
	position	: absolute; 
	top			: 250px; 
	right		: 50%; 
	font-size	: 80px;
	width		: 100%;
	border-top	: 0.1em solid red;
	border-bottom: 0.1em solid red;
	-ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg);
    color		:red !important;
    z-index:	5;
}

.doc_header_tradec > div >  span {	
	color : black !important;
}
.doc_id_size_trade{
	font-size	:1.5em;	
}


/******************************end Trade catalyst***************************************************/


.text_bold{
	font-weight		:bold;	
}
	
.table_line_item >thead,
.table_line_item >thead >tr >td{
	background-color:rgb(90,90,90) !important;
	color: white !important;	
	font-family:'Times New Roman',Times,serif ;
	font-weight	:bold;
}

*{
	-webkit-print-color-adjust: exact;
}


.doc_header_no_slogan {
    padding-top: 2em;
    text-align: left;
    padding-bottom: 1.1em;
}

.table.table-bordered > thead > tr > td{	
	border: 1px #9C9C9C solid;
}

@media print {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.666%;
  }
  .col-lg-10 {
    width: 83.333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.666%;
  }
  .col-lg-7 {
    width: 58.333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.666%;
  }
  .col-lg-4 {
    width: 33.333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.666%;
  }
  .col-lg-1 {
    width: 8.333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.666%;
  }
  .col-lg-pull-10 {
    right: 83.333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.666%;
  }
  .col-lg-pull-7 {
    right: 58.333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.666%;
  }
  .col-lg-pull-4 {
    right: 33.333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.666%;
  }
  .col-lg-pull-1 {
    right: 8.333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.666%;
  }
  .col-lg-push-10 {
    left: 83.333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.666%;
  }
  .col-lg-push-7 {
    left: 58.333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.666%;
  }
  .col-lg-push-4 {
    left: 33.333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.666%;
  }
  .col-lg-push-1 {
    left: 8.333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.666%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.666%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.666%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

/*sunshine print start*/
.sunshine_print_header {
	width:97%;
}

.doc_header_pending_sunshine > .pending-approval{
	position:absolute;
	right:5px;
	top:0em;
	font-size:25px;
}

.doc_header_void_sunshine > .void{	
	text-align	: center;
	position	: absolute; 
	top			: 250px; 
	right		: 50%; 
	font-size	: 80px;
	width		: 100%;
	border-top	: 0.1em solid red;
	border-bottom: 0.1em solid red;
	-ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg);
    color		:red !important;
    z-index:	5;
}

.doc_title_sunshine{
	padding-top:0em;
	margin-top:0em;
	position:absolute;
	right:3.2em;
	top:-2.2em;
	background-color:white !important;
	padding-left:1em;
	padding-right:1em;
}

.sunshine_color_scheme_invoice, 
.sunshine_color_scheme_invoice > .header_border_inner ,
.sunshine_color_scheme_invoice > .doc_title_sunshine > h2 > i
{
	border-color:#F05F37;	
	color		:#F05F37 !important;
}


.sunshine_color_scheme_pr, 
.sunshine_color_scheme_pr > .header_border_inner,
.sunshine_color_scheme_pr > .doc_title_sunshine > h2 > i
{
	border-color:#F05F37;	
	color		:#F05F37 !important;
}

.sunshine_color_scheme_bill, 
.sunshine_color_scheme_bill > .header_border_inner,
.sunshine_color_scheme_bill > .doc_title_sunshine > h2 > i
{
	border-color:#F05F37;	
	color		:#F05F37 !important;
}

.sunshine_color_scheme_po, 
.sunshine_color_scheme_po > .header_border_inner,
.sunshine_color_scheme_po > .doc_title_sunshine > h2 > i
{
	border-color:#F05F37;	
	color		:#F05F37 !important;
}

.sunshine_color_scheme_do, 
.sunshine_color_scheme_do > .header_border_inner,
.sunshine_color_scheme_do > .doc_title_sunshine > h2 > i
{
	border-color:#F05F37;	
	color		:#F05F37 !important;
}

.sunshine_color_scheme_cn, 
.sunshine_color_scheme_cn > .header_border_inner,
.sunshine_color_scheme_cn > .doc_title_sunshine > h2 > i
{
	border-color:#F05F37;	
	color		:#F05F37 !important;
}

.sunshine_color_scheme_dn, 
.sunshine_color_scheme_dn > .header_border_inner,
.sunshine_color_scheme_dn > .doc_title_sunshine > h2 > i
{
	border-color:#F05F37;	
	color		:#F05F37 !important;
}

.header_comp_name_sunshine{
	font-size	:19px;	
	font-weight	:bold;
}
.header_comp_code_sunshine{
	font-size	:6px;		
}
.header_comp_slogan_sunshine{
	font-size	:8px;	
	font-weight	:bold;
	font-style: italic;
}

.doc_header_sunshine{
	padding-top:1.2em;
	text-align:left;
	padding-bottom:0.5em;
}

.doc_header_sunshine > div >  span{
	color : #F05F37 !important;
}

.sunshine_cust_data_title{
	font-family:'Times New Roman',Times,serif;
	font-size:1em;
	width: 7em;
}

.sunshine_cust_data_value{
	font-family:"Lucida Console", Monaco, monospace;
	font-size:0.9em;
	min-width: 5em;
}
/*sunshine print end*/

/*Crimson Omega print start*/
.crimson_print_header {
	width:97%;
}

.doc_header_pending_crimson > .pending-approval{
	position:absolute;
	right:5px;
	top:0em;
	font-size:25px;
}

.doc_header_void_crimson > .void{	
	text-align	: center;
	position	: absolute; 
	top			: 250px; 
	right		: 50%; 
	font-size	: 80px;
	width		: 100%;
	border-top	: 0.1em solid red;
	border-bottom: 0.1em solid red;
	-ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg);
    color		:red !important;
    z-index:	5;
}

.doc_title_crimson{
	padding-top:0em;
	margin-top:0em;
	position:absolute;
	right:3.2em;
	top:-2.2em;
	background-color:white !important;
	padding-left:1em;
	padding-right:1em;
}

.crimson_color_scheme_invoice, 
.crimson_color_scheme_invoice > .header_border_inner ,
.crimson_color_scheme_invoice > .doc_title_crimson > h2 > i
{
	border-color:#ff0009;	
	color		:#ff0009 !important;
}


.crimson_color_scheme_pr, 
.crimson_color_scheme_pr > .header_border_inner,
.crimson_color_scheme_pr > .doc_title_crimson > h2 > i
{
	border-color:#ff0009;	
	color		:#ff0009 !important;
}

.crimson_color_scheme_bill, 
.crimson_color_scheme_bill > .header_border_inner,
.crimson_color_scheme_bill > .doc_title_crimson > h2 > i
{
	border-color:#ff0009;	
	color		:#ff0009 !important;
}

.crimson_color_scheme_po, 
.crimson_color_scheme_po > .header_border_inner,
.crimson_color_scheme_po > .doc_title_crimson > h2 > i
{
	border-color:#ff0009;	
	color		:#ff0009 !important;
}

.crimson_color_scheme_do, 
.crimson_color_scheme_do > .header_border_inner,
.crimson_color_scheme_do > .doc_title_crimson > h2 > i
{
	border-color:#ff0009;	
	color		:#ff0009 !important;
}

.crimson_color_scheme_cn, 
.crimson_color_scheme_cn > .header_border_inner,
.crimson_color_scheme_cn > .doc_title_crimson > h2 > i
{
	border-color:#ff0009;	
	color		:#ff0009 !important;
}

.crimson_color_scheme_dn, 
.crimson_color_scheme_dn > .header_border_inner,
.crimson_color_scheme_dn > .doc_title_crimson > h2 > i
{
	border-color:#ff0009;	
	color		:#ff0009 !important;
}

.header_comp_name_crimson{
	font-size	:19px;	
	font-weight	:bold;
}
.header_comp_code_crimson{
	font-size	:6px;		
}
.header_comp_slogan_crimson{
	font-size	:8px;	
	font-weight	:bold;
	font-style: italic;
}

.doc_header_crimson{
	padding-top:1.2em;
	text-align:left;
	padding-bottom:0.5em;
}

.doc_header_crimson > div >  span{
	color : #ff0009 !important;
}

.crimson_cust_data_title{
	font-family:'Times New Roman',Times,serif;
	font-size:1em;
	width: 7em;
}

.crimson_cust_data_value{
	font-family:"Lucida Console", Monaco, monospace;
	font-size:0.9em;
	min-width: 5em;
}
/*Crimson Omega print end*/

/*Amanjaya print start*/
.amanjaya_print_header {
	width:97%;
}

.doc_header_pending_amanjaya > .pending-approval{
	position:absolute;
	right:5px;
	top:0em;
	font-size:25px;
}

.doc_header_void_amanjaya > .void{	
	text-align	: center;
	position	: absolute; 
	top			: 250px; 
	right		: 50%; 
	font-size	: 80px;
	width		: 100%;
	border-top	: 0.1em solid red;
	border-bottom: 0.1em solid red;
	-ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg);
    color		:red !important;
    z-index:	5;
}

.doc_title_amanjaya{
	padding-top:0em;
	margin-top:0em;
	position:absolute;
	right:3.2em;
	top:-2.2em;
	background-color:white !important;
	padding-left:1em;
	padding-right:1em;
}

.amanjaya_color_scheme_invoice, 
.amanjaya_color_scheme_invoice > .header_border_inner ,
.amanjaya_color_scheme_invoice > .doc_title_amanjaya > h2 > i
{
	border-color:#242B8A;	
	color		:#242B8A !important;
}


.amanjaya_color_scheme_pr, 
.amanjaya_color_scheme_pr > .header_border_inner,
.amanjaya_color_scheme_pr > .doc_title_amanjaya > h2 > i
{
	border-color:#242B8A;	
	color		:#242B8A !important;
}

.amanjaya_color_scheme_bill, 
.amanjaya_color_scheme_bill > .header_border_inner,
.amanjaya_color_scheme_bill > .doc_title_amanjaya > h2 > i
{
	border-color:#242B8A;	
	color		:#242B8A !important;
}

.amanjaya_color_scheme_po, 
.amanjaya_color_scheme_po > .header_border_inner,
.amanjaya_color_scheme_po > .doc_title_amanjaya > h2 > i
{
	border-color:#242B8A;	
	color		:#242B8A !important;
}

.amanjaya_color_scheme_do, 
.amanjaya_color_scheme_do > .header_border_inner,
.amanjaya_color_scheme_do > .doc_title_amanjaya > h2 > i
{
	border-color:#242B8A;	
	color		:#242B8A !important;
}

.amanjaya_color_scheme_cn, 
.amanjaya_color_scheme_cn > .header_border_inner,
.amanjaya_color_scheme_cn > .doc_title_amanjaya > h2 > i
{
	border-color:#242B8A;	
	color		:#242B8A !important;
}

.amanjaya_color_scheme_dn, 
.amanjaya_color_scheme_dn > .header_border_inner,
.amanjaya_color_scheme_dn > .doc_title_amanjaya > h2 > i
{
	border-color:#242B8A;	
	color		:##242B8A !important;
}

.header_comp_name_amanjaya{
	font-size	:19px;	
	font-weight	:bold;
}
.header_comp_code_amanjaya{
	font-size	:6px;		
}
.header_comp_slogan_amanjaya{
	font-size	:8px;	
	font-weight	:bold;
	font-style: italic;
}

.doc_header_amanjaya{
	padding-top:1.2em;
	text-align:left;
	padding-bottom:0.5em;
}

.doc_header_amanjaya > div >  span{
	color : #242B8A !important;
}

.amanjaya_cust_data_title{
	font-family:'Times New Roman',Times,serif;
	font-size:1em;
	width: 7em;
}

.amanjaya_cust_data_value{
	font-family:"Lucida Console", Monaco, monospace;
	font-size:0.9em;
	min-width: 5em;
}
/*Amanjaya print end*/

/*Paramount print start*/
.paramount_print_header {
	width:97%;
}

.doc_header_pending_paramount > .pending-approval{
	position:absolute;
	right:5px;
	top:0em;
	font-size:25px;
}

.doc_header_void_paramount > .void{	
	text-align	: center;
	position	: absolute; 
	top			: 250px; 
	right		: 50%; 
	font-size	: 80px;
	width		: 100%;
	border-top	: 0.1em solid red;
	border-bottom: 0.1em solid red;
	-ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg);
    color		:red !important;
    z-index:	5;
}

.doc_title_paramount{
	padding-top:0em;
	margin-top:0em;
	position:absolute;
	right:3.2em;
	top:-2.2em;
	background-color:white !important;
	padding-left:1em;
	padding-right:1em;
}

.paramount_color_scheme_invoice, 
.paramount_color_scheme_invoice > .header_border_inner ,
.paramount_color_scheme_invoice > .doc_title_paramount > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}


.paramount_color_scheme_pr, 
.paramount_color_scheme_pr > .header_border_inner,
.paramount_color_scheme_pr > .doc_title_paramount > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.paramount_color_scheme_bill, 
.paramount_color_scheme_bill > .header_border_inner,
.paramount_color_scheme_bill > .doc_title_paramount > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.paramount_color_scheme_po, 
.paramount_color_scheme_po > .header_border_inner,
.paramount_color_scheme_po > .doc_title_paramount > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.paramount_color_scheme_do, 
.paramount_color_scheme_do > .header_border_inner,
.paramount_color_scheme_do > .doc_title_paramount > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.paramount_color_scheme_cn, 
.paramount_color_scheme_cn > .header_border_inner,
.paramount_color_scheme_cn > .doc_title_paramount > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.paramount_color_scheme_dn, 
.paramount_color_scheme_dn > .header_border_inner,
.paramount_color_scheme_dn > .doc_title_paramount > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.header_comp_name_paramount{
	font-size	:19px;	
	font-weight	:bold;
}
.header_comp_code_paramount{
	font-size	:6px;		
}
.header_comp_slogan_paramount{
	font-size	:8px;	
	font-weight	:bold;
	font-style: italic;
}

.doc_header_paramount{
	padding-top:1.2em;
	text-align:left;
	padding-bottom:0.5em;
}

.doc_header_paramount > div >  span{
	color : #ED0008 !important;
}

.paramount_cust_data_title{
	font-family:'Times New Roman',Times,serif;
	font-size:1em;
	width: 7em;
}

.paramount_cust_data_value{
	font-family:"Lucida Console", Monaco, monospace;
	font-size:0.9em;
	min-width: 5em;
}
/*Paramount print end*/

/*Suiwah print start*/
.suiwah_print_header {
	width:97%;
}

.doc_header_pending_suiwah > .pending-approval{
	position:absolute;
	right:5px;
	top:0em;
	font-size:25px;
}

.doc_header_void_suiwah > .void{	
	text-align	: center;
	position	: absolute; 
	top			: 250px; 
	right		: 50%; 
	font-size	: 80px;
	width		: 100%;
	border-top	: 0.1em solid red;
	border-bottom: 0.1em solid red;
	-ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg);
    color		:red !important;
    z-index:	5;
}

.doc_title_suiwah{
	padding-top:0em;
	margin-top:0em;
	position:absolute;
	right:3.2em;
	top:-2.2em;
	background-color:white !important;
	padding-left:1em;
	padding-right:1em;
}

.suiwah_color_scheme_invoice, 
.suiwah_color_scheme_invoice > .header_border_inner ,
.suiwah_color_scheme_invoice > .doc_title_suiwah > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}


.suiwah_color_scheme_pr, 
.suiwah_color_scheme_pr > .header_border_inner,
.suiwah_color_scheme_pr > .doc_title_suiwah > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.suiwah_color_scheme_bill, 
.suiwah_color_scheme_bill > .header_border_inner,
.suiwah_color_scheme_bill > .doc_title_suiwah > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.suiwah_color_scheme_po, 
.suiwah_color_scheme_po > .header_border_inner,
.suiwah_color_scheme_po > .doc_title_suiwah > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.suiwah_color_scheme_do, 
.suiwah_color_scheme_do > .header_border_inner,
.suiwah_color_scheme_do > .doc_title_suiwah > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.suiwah_color_scheme_cn, 
.suiwah_color_scheme_cn > .header_border_inner,
.suiwah_color_scheme_cn > .doc_title_suiwah > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.suiwah_color_scheme_dn, 
.suiwah_color_scheme_dn > .header_border_inner,
.suiwah_color_scheme_dn > .doc_title_suiwah > h2 > i
{
	border-color:#ED0008;	
	color		:#ED0008 !important;
}

.header_comp_name_suiwah{
	font-size	:19px;	
	font-weight	:bold;
}
.header_comp_code_suiwah{
	font-size	:6px;		
}
.header_comp_slogan_suiwah{
	font-size	:8px;	
	font-weight	:bold;
	font-style: italic;
}

.doc_header_suiwah{
	padding-top:1.2em;
	text-align:left;
	padding-bottom:0.5em;
}

.doc_header_suiwah > div >  span{
	color : #ED0008 !important;
}

.suiwah_cust_data_title{
	font-family:'Times New Roman',Times,serif;
	font-size:1em;
	width: 7em;
}

.suiwah_cust_data_value{
	font-family:"Lucida Console", Monaco, monospace;
	font-size:0.9em;
	min-width: 5em;
}
/*Suiwah print end*/

/*Magirex print start*/
.magirex_print_header {
	width:97%;
}

.doc_header_pending_magirex > .pending-approval{
	position:absolute;
	right:5px;
	top:0em;
	font-size:25px;
}

.doc_header_void_magirex > .void{	
	text-align	: center;
	position	: absolute; 
	top			: 250px; 
	right		: 50%; 
	font-size	: 80px;
	width		: 100%;
	border-top	: 0.1em solid red;
	border-bottom: 0.1em solid red;
	-ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg);
    color		:red !important;
    z-index:	5;
}

.doc_title_magirex{
	padding-top:0em;
	margin-top:0em;
	position:absolute;
	right:3.2em;
	top:-2.2em;
	background-color:white !important;
	padding-left:1em;
	padding-right:1em;
}

.magirex_color_scheme_invoice, 
.magirex_color_scheme_invoice > .header_border_inner ,
.magirex_color_scheme_invoice > .doc_title_magirex > h2 > i
{
	border-color:#636363;	
	color		:#636363 !important;
}


.magirex_color_scheme_pr, 
.magirex_color_scheme_pr > .header_border_inner,
.magirex_color_scheme_pr > .doc_title_magirex > h2 > i
{
	border-color:#636363;	
	color		:#636363 !important;
}

.magirex_color_scheme_bill, 
.magirex_color_scheme_bill > .header_border_inner,
.magirex_color_scheme_bill > .doc_title_magirex > h2 > i
{
	border-color:#636363;	
	color		:#636363 !important;
}

.magirex_color_scheme_po, 
.magirex_color_scheme_po > .header_border_inner,
.magirex_color_scheme_po > .doc_title_magirex > h2 > i
{
	border-color:#636363;	
	color		:#636363 !important;
}

.magirex_color_scheme_do, 
.magirex_color_scheme_do > .header_border_inner,
.magirex_color_scheme_do > .doc_title_magirex > h2 > i
{
	border-color:#636363;	
	color		:#636363 !important;
}

.magirex_color_scheme_cn, 
.magirex_color_scheme_cn > .header_border_inner,
.magirex_color_scheme_cn > .doc_title_magirex > h2 > i
{
	border-color:#636363;	
	color		:#636363 !important;
}

.magirex_color_scheme_dn, 
.magirex_color_scheme_dn > .header_border_inner,
.magirex_color_scheme_dn > .doc_title_magirex > h2 > i
{
	border-color:#636363;	
	color		:#636363 !important;
}

.header_comp_name_magirex{
	font-size	:19px;	
	font-weight	:bold;
}
.header_comp_code_magirex{
	font-size	:6px;		
}
.header_comp_slogan_magirex{
	font-size	:8px;	
	font-weight	:bold;
	font-style: italic;
}

.doc_header_magirex{
	padding-top:1.2em;
	text-align:left;
	padding-bottom:0.5em;
}

.doc_header_magirex > div >  span{
	color : #636363 !important;
}

.magirex_cust_data_title{
	font-family:'Times New Roman',Times,serif;
	font-size:1em;
	width: 7em;
}

.magirex_cust_data_value{
	font-family:"Lucida Console", Monaco, monospace;
	font-size:0.9em;
	min-width: 5em;
}
/*Magirex print end*/